{% extends "base.html" %}

{% load static %}

{% block content %}
            
<section class="bg-dark text-light">
    <div class="container pb-4">
        <div class="text-center">
            <img class="my-profile-photo rounded-circle" 
                    src="{% static 'img/user.jpg' %}" alt="My profile photo">
            <h4 class="mt-3">
                {{ request.user.first_name }}
                {{ request.user.last_name }}
                ({{ request.user.username }})
            </h4>
            <div>Konto aktywne od {{ request.user.date_joined }}</div>
        </div>

                    <!-- Tablist -->
                    <ul class="nav nav-pills mt-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews" role="tab">
                                2 Recenzje
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-recommended-tab" data-toggle="pill" href="#pills-recommended" role="tab">
                                3 Polecone
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-rated-tab" data-toggle="pill" href="#pills-rated" role="tab">
                                1 Oceniony 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-favourite-tab" data-toggle="pill" href="#pills-favourite" role="tab">
                                2 Ulubione
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="bg-light">
                <div class="container">
                    <!-- Tabpanel -->
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active " id="pills-reviews" role="tabpanel">
                            <div class="card my-3">
                                <div class="row g-0">
                                    <div class="col-md-2">
                                        <img class="card-img" src="{% static 'img/knives_out.jpeg' %}" alt="Movie poster">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="content">
                                                <a href="#"><h5 class="card-title">Tytuł filmu zrecenzowanego 1</h5></a>
                                                <p class="card-text">
                                                    Film ten wprowadza w magiczną krainę, pozwala nam to na oderwanie się od rzeczywistości.
                                                    Chyba jednen z moich ulubionych tytułów. Polecam dla całej rodziny.
                                                </p>
                                                <div class="text-right">
                                                    <div class="btn-group" role="group">
                                                        <a class="btn btn-primary">Dodaj do ulubionych</a>
                                                        <a class="btn btn-secondary">Edytuj</a>
                                                        <a class="btn btn-danger">Usuń</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card my-3">
                                <div class="row g-0">
                                    <div class="col-md-2">
                                        <img class="card-img" src="{% static 'img/godfather2.jpeg' %}" alt="Movie poster">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="content">
                                                <a href="#"><h5 class="card-title">Tytuł filmu zrecenzowanego 2</h5></a>
                                                <p class="card-text">
                                                    Czy można pokochać kogoś mimo jego wyglądu? Czy miłość faktycznie jest ślepa?
                                                    Film przedstawia piękną historię miłości dwoja zupełnie innych istot.
                                                </p>
                                                <div class="text-right">
                                                    <div class="btn-group" role="group">
                                                        <a class="btn btn-primary">Dodaj do ulubionych</a>
                                                        <a class="btn btn-secondary">Edytuj</a>
                                                        <a class="btn btn-danger">Usuń</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-recommended" role="tabpanel">
                            <div class="card my-3">
                                <div class="row g-0">
                                    <div class="col-md-2">
                                        <img class="card-img" src="{% static 'img/user.jpg' %}" alt="Movie poster">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="content">
                                                <a href="#"><h5 class="card-title">Tytuł filmu zrecenzowanego 3</h5></a>
                                                <p class="card-text">
                                                    Kino akcji w najlepszym jego wydaniu.
                                                    Doborowa obsada, wciągająca fabuła i świetne ujęcia.
                                                </p>
                                                <div class="text-right">
                                                    <div class="btn-group" role="group">
                                                        <a class="btn btn-primary">Dodaj do ulubionych</a>
                                                        <a class="btn btn-secondary">Edytuj</a>
                                                        <a class="btn btn-danger">Usuń</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-rated" role="tabpanel">
                            <div class="alert alert-info m-3">Tu pojawią się ocenione filmy</div>
                        </div>

                        <div class="tab-pane fade" id="pills-favourite" role="tabpanel">
                            <div class="alert alert-info m-3">Tu pojawią się filmy dodane do ulubionych</div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}